<div class="example-container mat-elevation-z8">
    <!-- <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field> -->
    <!-- <button (click)="onClickButton()">Click Me</button> -->
    <!-- columns length: {{columns?.length}} -->
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows  class="mat-elevation-z8">
        
        <ng-container matColumnDef="{{column.dataField}}" *ngFor="let column of columns">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.headerText}} </th>
            <td mat-cell *matCellDef="let row" [highlight]="row[column.dataField]">
                <a href="javascript:void(0)" (click)="openLink(row, column)" *ngIf="column.dataType === GridColumnTypeEnum.link">{{row[column.dataField]}}</a>
                <span *ngIf="column.dataType === GridColumnTypeEnum.text"> {{row[column.dataField]}}</span> 
            </td>
            
            <td [attr.colspan]="showExpandbleRow && column.dataField === 'fname' ? '2' : '1'" mat-footer-cell *matFooterCellDef>
                <span *ngIf="column.dataField === 'lname'"><b>Total</b></span>
                <span *ngIf="column.dataField === 'test1'"><b>{{ dataGrid.dataSource | sum:'test1' }}</b></span>
                <span *ngIf="column.dataField === 'test2'"><b>{{ dataGrid.dataSource | sum:'test2' }}</b></span>
            </td>
        </ng-container>

        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button *ngIf="showExpandbleRow" aria-label="expand row" 
                (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
              </button>
            </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container *ngIf="showExpandbleRow" matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                <div class="example-element-detail" *ngIf="expandedElement === element"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="example-element-diagram">
                        <ng-container  [ngTemplateOutlet]="expandedRowTemplate" 
                            [ngTemplateOutletContext]="{ $implicit: element }"></ng-container>

                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <ng-container *ngIf="showExpandbleRow">
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </ng-container>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
  </div>


  <!-- <div class="blink_me">BLINK ME</div> -->