<div class="carousel-container">
  <div class="big-image"><img [hidden]="!selectedImage" src="{{selectedImage}}"></div>
  <div class="carousel">
    <button class="arrow prev" (click)="goPrev()"><div></div></button>
    <div class="gallery">
      <ul #container>
        <li *ngFor="let el of listElems; let i=index">
            <img src="{{el.src}}" (click)="selectedImage=el.src" [class.selected]="selectedImage==el.src">
            <span>{{i}}</span>
        </li>
      </ul>
    </div>
    <button class="arrow next" (click)="goNext()"><div></div></button>
  </div>
</div>
