<div class="container" *ngIf="expanderDataSource?.length > 0">
    <mat-accordion [multi]="true" [togglePosition]="'before'">
        <!--hideToggle [disabled]="true"-->
        <mat-expansion-panel class="expansion-panel" hideToggle="true" (click)="click()" *ngFor="let panel of expanderDataSource; let i=index" [expanded]="panel.isExpanded"><!--hideToggle [disabled]="true"-->
            <mat-expansion-panel-header>
                <!-- https://stackoverflow.com/questions/47032090/how-to-position-the-angular-material-expansion-panel-arrow-icon-on-the-left-hand -->
                <mat-panel-title>
                    <mat-icon>{{icon  ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
                    <!-- <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
                        expand_more
                    </mat-icon> -->
                    <div>{{panel.panelTitle}}</div>                                        
                </mat-panel-title>
                <mat-panel-description>
                    {{panel.panelDescription}}
                </mat-panel-description>                
            </mat-expansion-panel-header>
            
            <mat-expansion-panel [expanded]="panel.isChildExpanded" (opened)="openGroup(panel.expanderName, i)" (closed)="closedGroup(panel.expanderName, i)">
                <mat-expansion-panel-header class="child-header">
                    <div class="header-data" *ngIf="!panel.hasChildExpander">
                        <div>{{panel.childTitle}}</div>
                        <div>{{panel.footerTitle}}</div>
                    </div>
                </mat-expansion-panel-header>
                <div class="child-body">
                    <div class="child-title">{{panel.childTitle}}</div>
                    <ng-container  [ngTemplateOutlet]="expandedChildTemplate" 
                            [ngTemplateOutletContext]="{ $implicit: panel }"></ng-container>
                </div>
            </mat-expansion-panel>
            
            <!-- <mat-action-row *ngIf="!panel.hasChildExpander">
                <div>{{panel.childTitle}}</div>
                <div>{{panel.footerTitle}}</div>
            </mat-action-row> -->
        </mat-expansion-panel>
    </mat-accordion>
</div>
