<div class="container" #overlayContainer>

    <!-- <button (click)="openDialog($event)">Open a draggable dialog</button>

    <div class="example-boundary">
        <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag (clickOutside)="onClickedOutside($event)" 
        *ngIf="showBox">
            Drag the dialog around!
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Favorite food</mat-label>
                  <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>
              
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Leave a comment</mat-label>
                  <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                </mat-form-field>

                <button mat-raised-button color="primary">Click</button>
            </form>
        </div>
    </div> -->

    <button (click)="openDialog($event)">Open a draggable dialog</button>

    <div class="example-boundary">
        <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag appClickOutside (clickOutsideElement)="onClickedOutside($event)" 
        *ngIf="showBox">
            <app-popup-form></app-popup-form>
        </div>
    </div>
   
</div>
