<div class="container">
    <mat-accordion [multi]="true">
        <mat-expansion-panel class="expansion-panel" [expanded]="shouldOpenPanel1"><!--hideToggle [disabled]="true"-->
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Title 1
                </mat-panel-title>
                <mat-panel-description>
                    Description 1
                </mat-panel-description>
                <mat-panel-description>
                    Description 2
                </mat-panel-description>
            </mat-expansion-panel-header>
            
            <mat-expansion-panel [expanded]="shouldOpenChildPanel1" (opened)="openGroup('devices')" (closed)="closedGroup('devices')">
                <mat-expansion-panel-header class="child-header"></mat-expansion-panel-header>
                <div class="child-body">
                    <div class="child-title">מכשירים</div>
                    <div>sdgsgsd</div>
                </div>
            </mat-expansion-panel>
            
            <mat-action-row *ngIf="!shouldOpenChildPanel1">
                <div>מכשירים</div>
                <div>Total</div>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel  class="expansion-panel"><!--hideToggle [disabled]="true"-->
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Title 2
                </mat-panel-title>
                <mat-panel-description>
                    Description
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-description>
                            Child panel 2
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div>
                        <app-grid></app-grid>
                    </div>
                </mat-expansion-panel>
                safcafasf
            </div>
            <mat-action-row>
                <button>Click</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>
