<nav>
  <a class="button" routerLink="/home">Home</a> |
  <a class="button" routerLink="/contacts">Contacts</a> |
  <a class="button" routerLink="/cards">Cards</a> |
  <a class="button" routerLink="/signature">Signature</a> |
  <a class="button" routerLink="/grid">Grid</a> |
  <a class="button" routerLink="/swap">Swap</a> |
  <a class="button" routerLink="/switch-map">SwitchMap</a> 
  <!-- <button mat-raised-button color="primary" type="submit">Submit</button> -->
</nav>
<!-- <app-product-list></app-product-list> -->
<lib-milena-lib></lib-milena-lib>

<router-outlet></router-outlet>
