<div>
  <a class="button" routerLink="/home">Home</a> |
  <a class="button" routerLink="/contacts">Contacts</a> |
  <a class="button" routerLink="/cards">Cards</a> |
  <a class="button" routerLink="/signature">Signature</a> |
  <a class="button" routerLink="/grid">Grid</a> |
  <a class="button" routerLink="/expand-grid">Expand Grid</a> |
  <a class="button" routerLink="/swap">Swap</a> |
  <a class="button" routerLink="/switch-map">SwitchMap</a> | 
  <a class="button" routerLink="/form-valid">Form Validations</a> |
  <a class="button" routerLink="/multiselect">Multiselect</a> |
  <a class="button" routerLink="/drag-and-drop">Drag&Drop</a> |
  <a class="button" routerLink="/drag-and-drop1">Drag&Drop 1</a> |
  <a class="button" routerLink="/drag-drop-dual-list">Drag&Drop Dual List</a> |
  <a class="button" routerLink="/carousel">Carousel</a> | 
  <a class="button" routerLink="/expander">Expander</a> |
  <a class="button" routerLink="/form-array">Form Array</a> | 
  <a class="button" routerLink="/nested-reactive-form">Nested Reactive Form</a> | 
  <a class="button" routerLink="/simple-nested-form-array">Simple Nested Form Array</a> | 
  <a class="button" routerLink="/checkboxes-form-array">Checkboxes Form Array</a> | 
  <a class="button" routerLink="/search-debounce">Search Debounce</a> | 
  <a class="button" routerLink="/search-debounce-time">Search Debounce Time</a> |
  <a class="button" routerLink="/file-upload">File Upload</a> | 
  <a class="button" routerLink="/update-nested-form">Update Nested Form</a>
  
  <!-- <button mat-raised-button color="primary" type="submit">Submit</button> -->
</div>
<!-- <app-product-list></app-product-list> -->
<!-- <lib-milena-lib></lib-milena-lib> -->

<router-outlet></router-outlet>

<button mat-raised-button color="primary" (click)="onClick()">
  button
</button>