.container {
    width: 100%;
}

.title {
    text-align: center;
    width: 100%;
}

.success {
    color: lawngreen;
    font-size: 18px;
    font-weight: bold;
}

.error {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.success-answer {
    color: lawngreen;
}
